session fails silently with large inputs

I'm not sure why this fails, but as you can see, when the input is made somewhat large, `aiohttp-session` seems to fail silently without raising errors or warnings. 

Expected behavior: Raise error when input size is larger than allowed size.

A small example:
```
import time
import base64

from cryptography import fernet
from aiohttp import web
from aiohttp.web import Request, Response
from aiohttp_session import setup, get_session
from aiohttp_session.cookie_storage import EncryptedCookieStorage


async def handler(request: Request) -> Response:
    session = await get_session(request)
    other_thing = session['other_thing'] if 'other_thing' in session else None
    last_visit = session['last_visit'] if 'last_visit' in session else None
    session['last_visit'] = time.time()

    to_string = "a"*2900
    session['other_thing'] = to_string

    text = f'Last visited: {last_visit}, other_thing: {other_thing}'
    return web.Response(text=text)


def make_app():
    app = web.Application()
    # secret_key must be 32 url-safe base64-encoded bytes
    fernet_key = fernet.Fernet.generate_key()
    secret_key = base64.urlsafe_b64decode(fernet_key)
    setup(app, EncryptedCookieStorage(secret_key))
    app.router.add_get('/', handler)
    return app

web.run_app(make_app(), host="localhost")
```

@TheRobotCarlson what is the 'failing' behavior in your case (does the request silently crash, is the cookie 'lost', or ...)?

I tried to reproduce this but for me it worked pretty well, my guess is that this is somehow a limit on the user-agent used (testing with Insomnia the above server returned a response, with a cookie and sending this cookie back in a followup request resulted in a response that took the contents of the cookie into account).

RFC 6265 seems to have a 'minimum' requirement for user-agents to support at least 4096 bytes for each cookie including name, content & attributes (see [RFC 6265, section 6.1](https://tools.ietf.org/html/rfc6265#section-6.1)).

The resulting Fernet-encrypted string has a length of 4068 and adding the default cookie name this brings us to 4086 so **theoretically** a well-behaving user-agent shouldn't reject this cookie.

As a general suggestion regardless of this issue I think that if your payload reaches this size you should consider using one of the other session storages (i.e. redis) that `aiohttp-session` provides, if not for any other reason for performance (transferring 'large' amounts of data to an 'adjacent' redis is way cheaper than sending them for a roundtrip to the user for each request).

@panagiks 'failing' behavior for me is silently failing. When I run the above in Chrome Version 89.0.4389.128, I get no errors or warnings raised in the backend and instead have a silent failure that results in the cookie not being updated with any of the other inputs. An error or warning that the cookie "might be too large" is what I would expect.

Easy to accidentally add too much to a payload as an application's data grows. I added a new field to an existing application and that pushed it over the limit, it seems. I am planning on migrating to using redis session storage as a result of this, but didn't realize my payload had gotten that large until this failure appeared and stopped my application from updating any cookies. 

The backend (at least the `aiohttp-session` part of it) technically updates the cookie and sends it over to your user (if you observe the request on the developer console of Chrome or try it with an API tester the cookie should be transmitted), the browser is the one that chooses to ignore it. 

Having said that I also see no issue with adding a warning log if someone tries to save a cookie larger than some size ('some' here is debatable because the RFC refers to the 'total' stored size after adding all the attributes and not the transferred size that the library actually knows about) but I think a better place to add this would be `aiohttp` itself (since this concerns all cookies, not just cookies created through `aiohttp-session`). 

@Dreamsorcerer what do you think ?

Indeed, a warning if it's going to exceed the RFC might be useful during development.

As you say, this is a problem more in aiohttp, so better to open an issue there to discuss it.

Specifically, the warning would probably go in somewhere around:
https://github.com/aio-libs/aiohttp/blob/1a4126a2c0e52b331aa953288e844bac680290fc/aiohttp/helpers.py#L852

Could also include a check on the total number of cookies as per that section of the RFC (although much less likely to be exceeded).

It's not entirely clear exactly what we should be counting for that limit though. Name + value is easy, but what about attributes? Does that mean the name + value of each attribute, or just the value, or name + value + separator, or what?

This is being tracked in https://github.com/aio-libs/aiohttp/issues/5634 and associated PR.